<div class="top">
    <div class="topDiv">
        <div class="topL">欢迎访问{$site['site_name']}网站</div>
    </div>
</div>
<div class="logo">
    <div class="logoL"><img src="{$site['site_logo']}"></div>
    <div class="logoR">
        <div class="logoR1">

        </div>
        <div class="logoR2">
            <p class="p1">全国服务热线:</p>
            <p class="p2">010-58221703</p>
        </div>
    </div>
</div>
<div class="nav">
    <ul class="navDiv">
        <li><a href="/" class="navone">网站首页</a></li>
        {m:nav field="catid,catname,arrchildid,pclink" where="parentid=0" limit="20"}
        {loop $data $v}
        <li><a href="{$v['pclink']}" class="navone">{$v['catname']}</a></li>
        {/loop}
    </ul>
</div>

<div class="banner">

    <div class="b-list" style="width: 90px;"> 
    </div>
    <div class="b-img" style="width: 300%; left: 0px;">
        <a href="#"
            style="background: rgba(0, 0, 0, 0) url(&quot;{STATIC_URL}/index/banner.jpg&quot;) no-repeat scroll center center / 100% 100%; width: 33.3333%;"></a>
    </div>
</div>